{% extends 'accounts/main.html' %}


{% block content %}


<div class="row">

    <div class="card m-5 " style="width: 17rem;">
        <div class="card-body">
            <h5 class="card-title">Total Orders</h5>
            <hr>
            <h2 class="card-text text-center "><b> {{total_orders}} </b></h2>

        </div>
    </div>
    <div class="card m-5 " style="width: 17rem;">
        <div class="card-body">
            <h5 class="card-title">Order Deleivered</h5>
            <hr>
            <h2 class="card-text text-center "><b> {{order_deliverd}} </b></h2>

        </div>
    </div>
    <div class="card m-5 " style="width: 17rem;">
        <div class="card-body">
            <h5 class="card-title">Order Pending</h5>
            <hr>
            <h2 class="card-text text-center "><b> {{order_pending}} </b></h2>

        </div>
    </div>
</div>
<br><br>



<div class="row">
    <div class="col">
        <hr>
        <div class="card card-body">
            <a href="{% url 'create-order' request.user.pk %}" class="btn btn-primary btn-sm btn-block"> Create Order </a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Ordered</th>
                    <th>Status</th>

                </tr>
                {% for order in orders %}
                <tr>
                    <td></td>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.product.category }}</td>
                    <td>{{ order.date_created }}</td>
                    <td>{{ order.status }}</td>
                 
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}